@model int

<h3>New Comment</h3>

<form method="post" asp-controller="Book" asp-action="Comment" asp-route-id="@Model">
	<span>Message:</span>
	<p>
		<textarea id="commentTextarea" name="message" cols="127" rows="7" maxlength="500" required style="resize: none;" ></textarea>
	</p>

	<button type="submit">Comment</button>
</form >
