@if (User.IsInRole("admin"))
{
	<h3>Add New Book</h3>

	<form method="post" asp-controller="Book" asp-action="Create">
		<span>Title:</span>
		<p>
			<input type="text" name="title" required/>
		</p>

		<span>Author:</span>
		<p>
			<input type="text" name="author" required/>
		</p>

		<span>Genre:</span>
		<p>
			<input type="text" name="genre" required/>
		</p>

		<span>Year of publication:</span>
		<p>
			<input type="number" name="yearOfPublication" min="0000" max="2023" required style="width: 11.7rem" />
		</p>

		<span>Pages:</span>
		<p>
			<input type="number" name="pages" min=0 required/>
		</p>

		<span>Link:</span>
		<p>
			<input type="url" name="link" required/>
		</p>

		<span>Preview:</span>
		<p>
			<textarea name="preview" cols="127" rows="7" required style="resize: none;" ></textarea>
		</p>

		<button type="submit">Add</button>
	</form>
}else {
	<div style="margin: auto; text-align: center; font-weight: bold;">
		<img style="border-radius: 10px;" src="https://media.tenor.com/BlKbcuoS9RMAAAAC/bitch-wheres-my-money.gif" alt="Description of image">
		<p style="padding: 5px;">You should have given me money to make you an Admin!</p>
	</div>
}