<div style="margin: auto; text-align: center; font-weight: bold;">
	<img style="border-radius: 10px;" src="https://w0.peakpx.com/wallpaper/68/288/HD-wallpaper-i-am-the-danger-breaking-bad-meth-danger-walter-white.jpg" alt="Description of image">
	<p style="padding: 5px;">If you want to be THE DANGER, you should <a href="https://localhost:7257/Identity/Account/Login">Login</a> or <a href="https://localhost:7257/Identity/Account/Register">Register</a> by order of the Peaky Blinders!</p>
</div>
